.material-icons {
    color: orange;
    font-size: 30px;
}
input[type=text] {
    width: 80%;
    height: 20px;
    border: 2px solid orange;
    border-radius: 4px;
    display: inline;
    margin: 3px 6px;
}
.todo-list-item > * {
    vertical-align: middle;
}